/* Variables */

$colorppal: #b45e3e #c78255 #ebbf8c  #f8efca #f8efec;
$colorcont:#505050;
$coloreg:rgb(226, 194, 135);
$fuentetitle:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$colortitle: black;
$fuentepfo:Arial, Helvetica, sans-serif;
$colorpfo:whitesmoke;
$width: 100%;
$height:100%;
$width1:50%;
$height1:50%;
$espaciadom: 1.7rem;
$espaciadoh: 2.5rem;
$colorcto: #dddddd;

