@import "variables";
@import "mixin";

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */

body {
    background: linear-gradient(to bottom, #efb663, #f5cf7b, #fae792, #ffffaa);
}

header {
    display: flex;
    padding: 5px;
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
}

.centrado {
    display: grid;
    grid-template-columns: 1;
    align-content: center;
}

.logo {
    width: 15rem;
    height: 7.5rem;
    margin: 0% 0% 0% 30%;
}

.nav-link.color-menui {
    display: inline-block;
    list-style: none;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
}

.nav-link {
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navbar.navbar-expand-lg {
    background: linear-gradient(to bottom, #09081f, #18172e, #27273d, #35364c, #44455b);
    border-radius: 1rem;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;
}

/* estilos de index */

main {
    @include mainppal();
}

.contentidx {
    background-image: url(../img/imgppal.jpg);
    @include contentstyle();
}

.titulo {
    @include titleppal();
}

.parrafo1 {
    grid-column: 1;
    margin-bottom: 10rem;
    line-height: 1.5rem;
    @include parrfindx();
}

.parrafo2 {
    grid-column: 3;
    margin-top: 10rem;
    line-height: 2rem;
    @include parrfindx();
}

.titulo {
    @include titleppal();
}

.cont2 {
    padding: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: $width;
    height: $height;
}

.parrafo3 {
    text-align: justify;
    grid-column: 1;
    line-height: $espaciadoh;
}

.video {
    max-width: 100%;
    height: auto;
    grid-column: 2;
}

.titulo3 {
    font-size: 1rem;
    color: $colortitle;
    margin-top: 1rem;
}

footer {
    text-align: center;
    padding: 1%;
    margin: 1%;
    flex-grow: 1;
    border: none;
    border-top: 0.1rem solid #000;
    margin: 0 10px;
}

@import "sobremi";
@import "actualidad";
@import "proyectos";
@import "contacto";